@require "requires"
@import "imports"

.basic::after
	content: 'OK'
	color: green

.tux::after
	content: \"image-size('tux.png')\"
	color: green

//unfortunately, loading of the image two lines above will fail if the 
//require is at the beginning of the file :(
//TODO: need to determine where the problems are
@require "subfolder/subfolder"