@require "requires"
@import "imports"
@require "subfolder/subfolder"

.basic::after
	content: 'OK'
	color: green

.tux::after
	content: \"image-size('tux.png')\"
	color: green
	
.built-in::after
	content: \"darken(#ffffff, 50%)\"
	color: green
	
.background-image::after
	background-image: url(tux.png)
	content: 'OK'
	color: green